body{
	background-color: @gray1;
	padding: 52px 0 0 180px; /* Header height and sidebar width */
	font-family: @fontmain;
	font-size: @base-font-size;
	color: @bodytext;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: @font-bold;
	color: @titletext;
}

h1 {
	font-size: @h1;
}
h2 {
	font-size: @h2;
}
h3 {
	font-size: @h3;
}
h4 {
	font-size: @h4;
}
h5 {
	font-size: @h5;
}
h6 {
	font-size: @h6;
}

a {
	text-decoration: none;
	color: @brand-primary;
}

.flex-row {
	display: flex;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

.small {
	font-size: 85%;
}

.normal-link {
	color: @bodytext;
}

.m-t-base {
	margin-top: @base-margin;
}
.m-t-2xbase {
	margin-top: 2 * @base-margin;
}
.m-t-3xbase {
	margin-top: 3 * @base-margin;
}

.rupee {
	font-style: normal;
}

.main-content{
	height: 100%;
	overflow: auto;
	padding: 28px 20px;
}