@gray1: #E9ECF3;

@white: #ffffff;



// main colors
@brand-primary: #5899d0;

// text colors
@bodytext: #797979;
@titletext: #424242;

// status colors
@green: #7dd321;
@red: #e84a4a;

// backgrounds
@label-grey: #999999;
@mainbg: #e9ecf3;

// fonts
@fontmain: 'Roboto', sans-serif;
// @fontmain: 'Helvetica', sans-serif;
@font-bold: 500;

@base-font-size: 14px;
@h1: 48px;
@h2: 32px;
@h3: 28px;
@h4: 22px;
@h5: 16px;
@h6: 14px;

.font-16() {
	font-size: @h5;
	line-height: 20px;
}


// dimesion setters
@common-p: 16px;
@base-margin: 4px;

// card - .rucard
@rucard-padding: 18px;

// locations with circle
@location-padding-left: 28px;